


.index-recipe{
    margin: auto;
    padding: 12%;
}

.white{
    color: white;
}


.posts{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:2rem;
    margin: 4rem 4rem;
}
.form-group-text{
    max-width: 380px;
    width: 100%;
    background-color: #f0f0f0;
    margin: 10px 0;
    height: 115px;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.5rem;
    position: relative;
}

.form-group-text i {
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 55px;
    color: #acacac;
    transition: 0.5s;
    font-size: 1.1rem;
}

.form-group-text textarea{
    background: transparent;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: rgb(189, 184, 184);
}

.recipe-container{
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}
.recipe-background{
    background: url('../../assets/Recipe/recipe1.svg')  no-repeat center bottom/cover;
    height: 70vh;
}


/* Posts Page */
.post-form .post-form-header {
    background: var(--primary-color);
    padding: 0.5rem;
  }
  
  .post {

    grid-gap: 2rem;
    align-items: center;
    border-radius: 15px;
    box-shadow: -.3rem 0 1rem rgb(126, 126, 126);

  }
  
  .post > div:first-child {
    text-align: center;
  }
  
  .post img {
    width: 100px;
  }
  
  .post .comment-count {
    background: var(--light-color);
    color: var(--primary-color);
    padding: 0.1rem 0.2rem;
    border-radius: 5px;
    font-size: 0.8rem;
  }
  
  .post .post-date {
    color: #aaa;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }

  .title{
      font-size: 1.35rem;
      font-weight: bold;
      text-align: center;
  }

  .post-image{
      
    background: url('../../assets/food.jpg')  no-repeat center center/cover;
    height: 20rem;
  }

  .btn-post{
    width: 3.1rem;
    background-color: #5995fd;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
  }

  .btn-div{
      display: flex;
      gap: 1rem;
  }
  .green{
      background-color: #4d908e;
  }

  .btn-danger{
      background-color: #ef476f;
      position: relative;
      z-index: 1;
      
  }