.index-recipe{
  margin: auto;
  padding: 10% 10%;
  display: grid;
  grid: 1rem;
  grid-template-columns: 2fr 2fr;

}

.posts{
  display: grid;
  grid-template-columns: repeat(4, 20rem);
  grid-gap:2rem;
  justify-content: center;
  align-items: center;
  margin: 4rem 4rem;
  grid-auto-rows: auto;
  place-items: center stretch;

}

.overlay{
  background: rgb(79,88,97);
  background: linear-gradient(180deg, rgba(67, 70, 73, 0) 35%, rgba(33,37,41,0.8968181022408963) 91%);
  position: relative;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  transition-duration: 500ms;
  cursor: pointer;
}
.overlay:hover{
  background: rgb(72, 76, 80);
  background: linear-gradient(180deg, rgba(79, 88, 97, 0.479) 35%, rgba(33,37,41,0.8968181022408963) 91%);
}


.white{
    color: white;
}
.index-recipe{
  position: relative;
  z-index: 1;
}

.recipe-container{
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}
.recipe-background{
    background: url('../../assets/Recipe/recipe1.svg')  no-repeat center bottom/cover;
    height: 75vh;

}
.post-illustration{
    background: url('../../assets/Recipe/cooking.svg')  no-repeat center center;
    height: 45vh;
    position: relative;
    top: -15%;
    right: -10%;
    z-index: -1;
}


/* Posts Page */

  .post {
    align-items: center;
    border-radius: 15px;
    height: 32.7rem;
    max-width: 21rem;
    box-shadow: -.3rem 0 1rem rgb(126, 126, 126);
  }
  
  .post-date {
    color: #aaa;
    font-size: 0.8rem;
    text-align: right;

  }

  .post-name{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    padding: 0.7rem;
    color: rgba(255, 255, 255, 0.63);
    
  }


  .title-card{
      font-size: 1.3rem;
      font-weight: inherit;
      text-align: center;
      min-height: 3rem;
  }
  .card-group{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10%;
    line-height: 0.1rem;
  }
  .actions-card{
    border-top: 1px solid rgba(201, 194, 194, 0.568);
    padding: 0 1rem;
  }

  .post-image{
    background: url('../../assets/food.jpg')  no-repeat center center/cover;
    height: 19rem;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: auto;
    position: relative;
    z-index: 0;
  }

  .btn-post{
    width: 4rem;
    height: 2.1rem;
    background-color: #2f618fd8;
    border: none;
    outline: none;
    padding: 1px;
    border-radius: 49px;
    color: rgb(226, 223, 223);
    font-size: .9rem;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;

  }
  .btn-add-post{
    width: 150px;
    background-color: #5995fd;
    border: none;
    height: 49px;
    border-radius: 49px;
    color: rgb(247, 238, 238);
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;

    margin-top: auto;
    transition: 0.5s;
  }
  .btn-add-post:hover{
    background-color: #253b61;


  }

  .btn-div{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
  }
  .green{
      background-color: #4d908e;
  }

  .btn-danger{
      background-color: #ef476f;
      position: relative;
      z-index: 1;
      display: none; 
  }
  .delete{
    background-color: #c70039;
    color: white;
    width: 34px;
  }

  .post-image button{
    position: relative;
    left: 85%;

  }




