

.modal-ideas{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    padding: 0;
    z-index: 1000;
    width: 25rem;
    height: 82%;
    border-radius: 15px;
    box-shadow: -.5rem 0 1.4rem rgba(37, 34, 34, 0.644);

}

.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(39, 44, 58, 0.7);
    z-index: 1000;
}

.btn-modal-ideas{
    font-size: 2rem;
    position: relative;
    left: 91%;
}

.modal-ingredients-box{
    padding: 2rem;
}
.modal-ingredients-box ul{
    list-style-type: disc;
    list-style-position: inside;
}
.modal-ingredients{
    font-size: 1.2rem;
    line-height: 2;
    border-bottom: 1px solid #c7c3c3;
}

