

.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    padding: 0;
    z-index: 1000;
    width: 65rem;
    height: 40rem;
    border-radius: 15px;
    box-shadow: -.5rem 0 1.4rem rgba(37, 34, 34, 0.644);
}

.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(39, 44, 58, 0.7);
    z-index: 1000;
}

.layer{
    display: grid;
    grid-template-columns:2fr 3fr;
    gap: 2rem;
}

.image-food{
    background: url('../../../assets/food.jpg')  no-repeat center center/cover;
    height: 50vh;
    position: relative;
    border-top-left-radius: 15px;
}

.modal-gradient{
    position: relative;
    z-index: 1000;
    height: 100%;
    width: 100%;
    background: rgb(79,88,97);
    background: linear-gradient(180deg, rgba(79,88,97,0) 0%, rgba(33,37,41,1) 81%);
}
.name{
    color: white;
    position: fixed;
    bottom: 34%;
    left: 2%;

}

.btn-close{
    margin-left: 92%;
    margin-top: 2%;
    background: transparent;
    border: none;
    cursor: pointer;
}
.btn-close i{
    color: brown;
}
.btn-close i {
    font-size: 2rem;
}

.title{
    font-size: 1.8rem;
    font-weight: bold;
}

.top-bar-from{
    display: grid;
    grid-template-columns: 5fr 1fr;
}
.title-description{
    margin: 2rem 2rem;
    margin-right: 4rem;
}

.title{
    margin-bottom: 2rem;
    border-bottom: 1px solid black;
}
.description{
    margin-bottom: 2rem;
    min-height: 240px;
    border-bottom: 1px solid black;
}

.ingredients{
    margin: 0rem 2rem;
}

.time-type{
    margin: 2rem 2rem;
    line-height: 250%;
}
.btn-post-modal{
    justify-content: center;
    align-items: center;
}
.modal-btn-div{
    position: relative;
    top: 25%;
}

.filepond--item{
    width: calc(50% - .5em);
}

.filepond--root {
    max-height: 5em;
}